<div id="searchView">
	<div class="page-header text-center">
		<h1>{{::user.Name}}'s Movie List</h1>
	</div>

	<div ng-if="this.movies" class="row top10">
		<div class="sortTable col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					Order By:
					<select ng-options="option.name for option in sortOptions" ng-model="selectedSortOption"></select>
				</div>
				<div class="col-xs-6 text-right">
					<label for="showSeenCheckbox">Show Seen Movies:</label>
					<input id="showSeenCheckbox" type="checkbox" ng-model="filters.showSeenMovies"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input ng-model="quickSearch" placeholder="Quick Search..." />
				</div>
			</div>
			<div class="row" ng-repeat="movie in movies | orderBy:selectedSortOption.key:selectedSortOption.reverse | filterSubstr: quickSearch | filter: filterSeen">
				<hr/>
				<div class="col-xs-2">
					<div class="row">
						<div class="col-xs-6 text-right">
							<label for="seenCheckbox">Seen</label>
						</div>
						<div class="col-xs-6">
							<input ng-change="updateSeen(movie)" id="seenCheckbox" type="checkbox" ng-model="movie.Seen"/>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 text-right">
							<label for="ratingSelect">Rating</label>
						</div>
						<div class="col-xs-6">
							<select ng-change="updateRating(movie)" id="ratingSelect" ng-model="movie.UserRating" ng-options="n for n in [] | range:0:10"></select>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="text-center">
							<span class="btn btn-default" ng-click="removeMovie(movie)">Remove</span>
						</div>
					</div>
				</div>
				<div class="col-xs-10">
					<h3>{{movie.Title}} ({{movie.Year}})</h3>
					<div>IMDb Rating: {{movie.ImdbRating | number:1}} | {{movie.Runtime}} | {{movie.Genres}} | {{movie.MpaaRating}}</div>
					<div class="top5">{{movie.Plot}}</div>
					<a ng-if="!movie.showMore" ng-click="movie.showMore = !movie.showMore">More Info...</a>
					<a ng-if="movie.showMore" ng-click="movie.showMore = !movie.showMore">Less Info...</a>
					<div ng-if="movie.showMore">
						<div>Actors: {{movie.Actors}}</div>
						<div>Director: {{movie.Director}}</div>
						<div>Writer: {{movie.Writer}}</div>
						<div>Languages: {{movie.Languages}}</div>
						<div>Website: <a href="{{movie.Website}}">{{movie.Website}}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>