.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.repeat-header {
  font-weight: bold;
}

.pointer-cursor {
  cursor: pointer;
  user-select: none;
}

.navbar-right {
  margin-right: 0;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background-size: cover;
  margin-top:-20px;
}

.intro-message {
  position: relative;
  padding-bottom: 40%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-social-buttons .btn-default {
  text-shadow: none;
}

.landing-bg {
  background-color: #231F20;
}

#homeView .well {
  color: #AD974F;
  background-image: linear-gradient(to bottom, #231F20 0, #231F20 100%);
}

#homeView .well-lg {
  border: none;
  border-radius: 0;
  margin: 0;
}

#homeView .well h2, #homeView .well h1 {
  margin-top: 5px;
}

#homeView .container-fluid {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#searchView textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: vertical;
}

#searchView a {
  cursor: pointer;
}

.top10 {
  margin-top: 10px;
}

.top5 {
  margin-top: 5px;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.errorTable {
  color: red;
}

.spinner:before {
  background-color: rgba(49, 37, 37, 0.2);
  border-radius: 6px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  content: " ";
}

input[type=checkbox] {
  transform: scale(1.5);
}