<div class="col-xs-12 registerView">

	<h1><span class="fa fa-sign-in"></span> Register</h1>

	<!-- show any messages that come back with authentication -->
	<div class="alert alert-danger" ng-if="this.message">{{ this.message }}</div>

	<!-- Register FORM -->
	<form name="registerForm" ng-submit="this.register(registerForm.$valid)" role="form" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" ng-model="name" id="name" name="name" required />
			<div ng-messages="registerForm.name.$error" ng-if="(registerForm.name.$touched || registerForm.name.$dirty) && registerForm.name.$invalid"><div ng-messages-include="components/register/registerMessages.html"></div></div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" ng-model="email" id="email" name="email" required />
			<div ng-messages="registerForm.email.$error" ng-if="(registerForm.email.$touched || registerForm.email.$dirty) && registerForm.email.$invalid"><div ng-messages-include="components/register/registerMessages.html"></div></div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" ng-model="password" id="password" name="password" required />
			<div ng-messages="registerForm.password.$error" ng-if="(registerForm.password.$touched || registerForm.password.$dirty) && registerForm.password.$invalid"><div ng-messages-include="components/register/registerMessages.html"></div></div>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" compare-to="this.password" class="form-control" ng-model="confirmPassword" id="confirmPassword" name="confirmPassword" required />
			<div ng-messages="registerForm.confirmPassword.$error" ng-if="(registerForm.confirmPassword.$touched || registerForm.confirmPassword.$dirty) && registerForm.confirmPassword.$invalid"><div ng-messages-include="components/register/registerMessages.html"></div></div>
		</div>

		<button type="submit" ng-disabled="this.hasActiveRequest || !registerForm.$valid" class="btn btn-warning btn-lg">Register</button>
	</form>

	<hr>

	<p>Already have an account? <a href="#/login">Login</a></p>
	<p>Or go <a href="#/">home</a>.</p>

</div>
