<!--bootstrap customization: http://getbootstrap.com/customize/?id=692399191e3d1109a63d876df18e3da8-->

<!doctype html>
<html ng-app="MovieTracker" class="full">
<head>
	<title>Movie Tracker</title>
	<link rel="stylesheet" href="/scripts/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/styles/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css"> <!-- load toastr -->

	<!-- Custom Styles -->
	<link rel="stylesheet" href="/scripts/styles/main.css">
</head>
<body ng-controller="HomeCtrl" ng-class="{'landing-bg': !showNavBar}">
<div class="container-fluid">

	<div class="row" ng-if="showNavBar">
		<nav class="navbar navbar-default">
			<div class=" col-sm-10 col-sm-offset-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-if="user"><a href="#/search"><i class="fa fa-search"></i> Search</a></li>
					<li ng-if="user"><a href="#/profile"><i class="fa fa-user"></i> <span ng-bind="user.Name"></span></a></li>
					<li ng-if="user.isAdmin"><a href="#/admin"><i class="fa fa-cog"></i> Admin Panel</a></li>
					<li ng-if="user"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
					<li ng-if="!user"><a href="#/login"><i class="fa fa-sign-in"></i> Login</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<ng-view></ng-view>

</div>

<!-- Scripts -->
<script src="/scripts/angular.js"></script>
<script src="/scripts/angular-resource.min.js"></script>
<script src="/scripts/angular-route.min.js"></script>
<script src="/scripts/angular-messages.js"></script>
<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/MovieTracker.js"></script>

<!-- Directives -->
<script src="/shared/compareTo/compareToDirective.js"></script>

<!-- Components -->
<script src="/shared/plusMinusInput/plusMinusInput.js"></script>

<!-- Controllers -->
<script src="/components/login/loginController.js"></script>
<script src="/components/profile/profileController.js"></script>
<script src="/components/search/searchController.js"></script>
<script src="/components/register/registerController.js"></script>
<script src="/components/home/homeController.js"></script>
<script src="/components/adminPanel/adminPanelController.js"></script>

<!-- Services -->
<script src="/components/adminPanel/adminPanelService.js"></script>
<script src="/shared/services/commonService.js"></script>
<script src="/shared/services/userService.js"></script>

</body>
</html>