<div id="searchView">
	<span us-spinner="" spinner-on="hasActiveRequest"></span>

	<div class="page-header text-center">
		<h1>Search for Movies Below</h1>
		<h4>Put each movie title on its own line</h4>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<textarea rows="10" cols="60" ng-model="movieSearchList"></textarea>
		</div>
	</div>

	<div class="row top10">
		<div class="col-xs-12 text-center">
			<button ng-disabled="this.hasActiveRequest" class="btn btn-default" ng-click="this.search()">Search</button>
		</div>
	</div>

	<div ng-if="this.notFound" class="row top10">
		<div class="errorTable text-left col-xs-12">
			<h4 class="text-center">The following titles were not found:</h4>
			<ul>
				<li ng-repeat="error in notFound | orderBy:'movie.name'">{{::error.movie.name}}</li>
			</ul>
		</div>
	</div>

	<div ng-if="this.errors" class="row top10">
		<div class="errorTable text-center col-xs-10 col-xs-offset-1">
			<h4>The following errors occurred:</h4>
			<div ng-repeat="error in errors">
				{{::error}}
			</div>
		</div>
	</div>

	<div ng-if="this.movies" class="row top10">
		<div class="sortTable col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					Order By:
					<select ng-options="option.name for option in sortOptions" ng-model="selectedSortOption"></select>
				</div>
			</div>
			<div class="row" ng-repeat="movie in movies | orderBy:selectedSortOption.key:selectedSortOption.reverse">
				<hr/>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<h3>{{movie.Title}} ({{movie.Year}})</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div>
								IMDb Rating: {{movie.ImdbRating | number:1}} | {{movie.Runtime}} | {{movie.Genres}} | {{movie.MpaaRating}} |
								<a ng-if="!movie.showMore" ng-click="movie.showMore = !movie.showMore">More Info...</a>
								<a ng-if="movie.showMore" ng-click="movie.showMore = !movie.showMore">Less Info...</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 form-inline">
							<div class="checkbox">
								<label>Seen <input class="form-control" ng-disabled="movie.MovieId" id="seenCheckbox" type="checkbox" ng-model="movie.Seen"/></label>
							</div>

							<div class="form-group">
								<label for="ratingSelect">Rating</label>
								<select ng-disabled="movie.MovieId" id="ratingSelect" ng-model="movie.UserRating" ng-options="n for n in [] | range:0:10"></select>
							</div>

							<button ng-if="!movie.MovieId" class="btn btn-default" ng-click="addMovie(movie)">Add</button>
							<button ng-if="movie.MovieId" class="btn btn-default" ng-click="removeMovie(movie)">Remove</button>
						</div>
					</div>

					<div class="row" ng-if="movie.showMore">
						<div class="col-xs-12">
							<div>{{movie.Plot}}</div>
							<div>Actors: {{movie.Actors}}</div>
							<div>Director: {{movie.Director}}</div>
							<div>Writer: {{movie.Writer}}</div>
							<div>Languages: {{movie.Languages}}</div>
							<div>Website: <a href="{{movie.Website}}">{{movie.Website}}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>