<div class="input-group" style="margin:10px;">
    <span class="input-group-btn">
        <button ng-click="$ctrl.dec()" type="button" class="btn btn-default btn-number">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <input ng-model="$ctrl.inputValue" type="number" class="form-control input-number" />

    <span class="input-group-btn">
        <button ng-click="$ctrl.inc()" type="button" class="btn btn-default btn-number">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>